.navbar {
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
  &__title {
    font-size: 30px;
    font-weight: bold;
  }
}
